<!DOCTYPE html>
<html lang="{{.Lang}}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/tomorrow.min.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="canonical" href="http://matsuuratomoya.com">
    {{with .NextInSection}}<link rel="next" href="{{.}}">{{end}}
  {{with .PrevInSection}}<link rel="prev" href="{{.}}">{{end}}
    <meta name="viewport" content="width=700">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keyword" content="松浦知也,Matsuura Tomoya,{{with .Keywords}}{{.}}{{end}}">
  <meta name="description" content="{{if .Description}}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}">
  <meta http-equiv="content-language" content="{{.Lang}}" />
  <meta property="og:title" content="{{ .Title }} | Matsuura Tomoya|松浦知也" />
  <meta property="og:type" content="{{if .IsPage}}article{{else}}website{{end}}">
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@tomoya_nonymous">
    <meta property="twitter:creator" content="@tomoya_nonymous">
    <meta property="twitter:creator:id" content="@tomoya_nonymous">
<meta property="og:url" content="{{.Permalink}}s" />
<meta property="og:image" content="{{if .Params.ogpimage}}{{$.Site.BaseURL}}{{.Params.ogpimage}}{{else}}{{$.Site.BaseURL}}assets/img/image_ogp.png{{ end }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="fb:app_id" content="1756749324544053" />
  <meta property="og:description" content="
  {{if .Description}}{{ .Description }}{{ else if .Summary}}{{ .Summary }}{{else if eq .Lang "ja"}}{{ $.Site.Params.description }}{{else}}{{$.Site.Params.en_description}}{{ end }}"/>
    <title>{{ .Title }} | Matsuura Tomoya|松浦知也 </title>
  </head>
