<div class="pagination">
  <div class="child">
    <ul>
      <li>
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.First.URL }}"><<</a>
        {{ else }}
        <<
        {{ end }}
      </li>
      <li>
        {{if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}"><</a>
        {{ else }}
        <
        {{ end }}
      </li>
      <li class="number">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</li>
      <li>
        {{if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">></a>
        {{ else }}
        >
        {{ end }}
      </li>
      <li>
        {{if .Paginator.HasNext }}
        <a href="{ .Paginator.Last.URL }}">>></a>
        {{ else }}
        >>
        {{ end }}
      </li>
    </ul>
  </div>
</div>
