<div class="share">
  <div class="tweet">
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="{{.Permalink}}" data-related="{{.Site.Params.Twitter}}">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="fb-share-button" data-href="{{.Permalink}}" data-layout="box_count" data-mobile-iframe="true"></div>

</div>
