<div class="tw">
  <div class="logo">
    <a href="https://twitter.com/{{$.Site.Params.Twitter}}" target=”_blank”>
      <img src="/assets/img/tw.png" alt="twitter">
    </a>
  </div>
  </div>
  <div class="fb">
    <div class="logo">
      <a href="https://www.facebook.com/{{$.Site.Params.Facebook}}" target=”_blank”>
        <img src="/assets/img/fb.png" alt="facebook">
      </a>
    </div>
  </div>

  <div class="github">
    <div class="logo">
      <a href="https://github.com/{{$.Site.Params.Github}}" target=”_blank”>
        <img src="/assets/img/github.png" alt="github">
      </a>
    </div>
  </div>

  <div class="instagram">
    <div class="logo">
      <a href="https://www.instagram.com/{{$.Site.Params.Instagram}}" target=”_blank”>
        <img src="/assets/img/instagram.png" alt="instagram">
      </a>
    </div>
  </div>
  <div class="vimeo">
    <div class="logo">
      <a href="https://vimeo.com/{{$.Site.Params.Vimeo}}" target=”_blank”>
        <img src="/assets/img/vimeo.png" alt="Vimeo">
      </a>
    </div>
  </div>
    <div class="soundcloud">
      <div class="logo">
        <a href="https://vimeo.com/{{$.Site.Params.Soundcloud}}" target=”_blank”>
          <img src="/assets/img/soundcloud.png" alt="Soundcloud">
        </a>
      </div>
  </div>
