$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #f7f4ed;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$master-font:"Helvetica Neue","Helvetica", "Hiragino Sans","ヒラギノ角ゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック",Osaka, sans-serif;
$border :1px solid #ccc;

$main1: #06262B;
$main2: #F0F9FC;
$main3: #207E8F;
$main4: #FA8F2D;
$main5: #02B2D4;
