@import 'sanitize';
// end sanitize
@import 'variables';
@import 'fontsize';
@import 'init';

body{

  .markdown{
    p{
      margin:1rem 0;
    }
    a{
      display:block;
      margin:10px auto;
    }
    img{
      width:100%;
      height:100%;
      margin:10px auto;
    }
    p a{
      display:inline;
    }
    h1,h2,h3,h4,h5,h6{
      margin:2rem 0;
    }
    hr{
      border-top:solid 1px $main2*0.5;
    }

    iframe{
      text-align:center;
      margin:10px auto;
    }
  }
  .title{
    overflow-wrap:break-word;
    word-wrap:break-word;
  }
  .back{
    display:inline;
    padding:10px 0;
    font-size:1.2rem;
  }
  .share{
    display:flex;
    margin:20px 0;
    div{
      margin:auto 20px auto 0;
    }
  }
  .outer{
    position:relative;
    width:100%;
    height:100%;
    div>.child ,header>.child,footer>.child{
      width:100%;
      max-width: 1000px;
      min-width: 700px;
      margin:0 auto;
      border:none;
    }
    div{
      min-width:none;
      border:none;
    }
    header{
      width:100%;
      border-top:$border;
      border-bottom:$border;
      padding:0px;
      min-height:5rem;
      box-shadow: 0px 1px 1px $main2 * 0.7;
      background-color:$main2*0.98;
      min-height:5rem;

    }
    header>div{
      width:100%;
      display:flex;
      align-content: flex-start;
      height:100%;
      padding:0;
      padding-right: 200px;
      flex-wrap:wrap;
      max-width: 1000px;
      min-width: 700px;
      margin:0 auto;
      position: relative;
    }
    header a{
      min-height:5rem;
      display:table;
      height:100%;
      padding:0px;
      margin-right: 20px;

      &:hover{
        box-shadow: 0px 1px 2px $main2 * 0.7;
      }

    }
    header a .title{
      display:table-cell;
      text-align:center;
      vertical-align: middle;
      min-width:300px;
      padding:0px;
      font-size:2rem;
      font-weight:200;
      letter-spacing: 0.15rem;
    }
    header div.menu{
      display:flex;
      vertical-align: baseline;
      margin-right: 20px;

      a{
        display:table;
        margin:auto;
        height:100%;
        min-height:4rem;
        div{
          padding: auto;
          display:table-cell;
          vertical-align: middle;
          width:auto;
          padding:0 20px;

        }
        &:hover{
          box-shadow: 1px 1px 2px $main2 * 0.7;
        }
      }
    }
    header div.locales{
      min-height:3rem;
      a{
        display:table;
        padding:0 7px;
        height:100%;
        margin :auto 0;
        font-size: 0.8rem;
        span{
          height:100%;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    header div.social{
      width:100%;
      max-width:200px;
      display:flex;
      align-items: center;
      min-height:3rem;
      height: 100%;
      padding:0px;
      position: absolute;
      right:0px;
      >div{
        min-height:25px;
        display: table-cell;
        vertical-align: middle;
        margin:auto 10px;
        width:30px;
        height:30px;
        padding:0;
      }
      div.logo{
        min-height:25px;
        width:25px;
        height:25px;
        margin:2.5px;
        padding:0;
        border-radius:5px;
        a{
          min-height:25px;
          width:25px;
          height:25px;
          display:table;
          padding:0;
          margin: 0;
          text-decoration:none;
          border:none;
          border-radius:5px;
          &:hover{
            text-decoration:none;
            // box-shadow:1px 1px 1px $main2 * 0.7;
            border:none;
          }
          img{
            width:25px;
            height:25px;
            padding:0;
            margin:0;
            text-decoration:none;
            border:none;
          }
        }
      }
      .tw .logo{
        background-color: #55acee;
      }
      .fb .logo{
        background-color:#fff;
      }
      .github .logo{
        // background-color:#fff;
        border-radius:5px;
      }
    }


    .inner{
      background-color:$main2 * 0.96;
      margin:20px 0;
      padding:10px 0;
      box-shadow: 2px 2px 2px $main2 * 0.7;
      .content{
        background-color:$main2 ;
        border:1px $main2 * 0.7;
        margin:10px 0;
        padding:10px;
        box-shadow: 3px 3px 2px $main2 * 0.7;
      }
      >.content{
        background-color:$main2;
        box-shadow: 3px 3px 3px $main2 * 0.7;
        // margin:10px 0;
        padding:10px 0;
      }
      >.content2{
        background-color:$main2 *0.98;
        box-shadow: 2px 2px 2px $main2 * 0.7;
        // margin:10px 0;
        padding:10px 0;
        margin:10px 0;
      }
      p.title{
        font-size:2rem;
        font-weight:lighter;
        letter-spacing: 0.3rem;
        padding:10px 0;
      }
      p.date{
        font-size:0.9rem;
        font-weight:lighter;
        padding:10px 0 0 0;
      }
      .index_outer{
        .content{

        }

      }
      .index_inner{
        border-top:$border;
        padding:10px 0;
        margin:0;
        .content{
          background-color: $main2;
        }
      }
      .work{
        width:100%;
        margin:10px 0;
        position:relative;
        a{

          display: block;
          height:100%;
        }
        &:hover{
          opacity:0.9;
          border:none;
        }
        .description{

          position:absolute;
          float:left;
          top:10px;
          z-index: 999;
          padding:0 10px;

          p{
            color:$main4;
            text-shadow: 1px 1px 2px $main4 * 0.7;
            opacity: 0.8;
            // height:2rem;
          }
          .caption_title{
            font-size: 2rem;
            height:4rem;
          }

        }
        img{
          box-shadow: 2px 2px 3px #bbb;
          &:hover{
            opacity: 1;
          }
        }
      }
      .flex{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        >div{
          background-color: $main2;
          border:$border;
          box-shadow: 1px 1px 1px $main2 * 0.7;
          margin:10px 0;
          padding:10px;
        }
      }
      .index_left,.index_right {

        width:45%;
        min-width:350px;
        a>.title{
          font-weight: normal;
        }
        .content{
          padding:5px 0;
          box-shadow: 0px 0px 0px $main2;
        }
      }

    }
    .pagination{
      width:100%;
      text-align: center;
      padding:20px 0;
      ul{
        list-style: none;
        // max-width: 500px;
        width:100%;
        margin:0 auto;
        display:inline-flex;
        justify-content:space-between;
        align-content: center;
        align-items:center;

        li{

          vertical-align:bottom;
          text-decoration: none;
          color:$main2 * 0.7;
          transition: 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
          width: 30%;
          &:not(.number){
            // font-weight: bolder;
            // font-family:"Lucida Grande","Meiryo" sans-serif;
            font-size: 1rem;
            text-decoration: none;
            &:hover{
              // border:1px solid $main2*0.94;

            }
          }

          a{
            background-color:$main2;
            box-shadow:1px 1px 1px $main2*0.5;
            padding:1rem;
            display:block;
            width:100%;
            height:100%;
            &:hover{
              box-shadow:2px 2px 2px $main2*0.5;

            }
          }
        }
        .to_index{
          flex-basis:20%;
          margin:10px;
          a{
            font-size:2rem;

          }
        }
        .none{
          pointer-events: none;
          font-color:$main2*0.5;
          box-shadow:none;
        }
      }
    }
    footer{
      border-top:$border;
      background-color:$main2*0.98;
      padding:10px;
      bottom:0;
      font-size:0.9rem;
    }
  }

}
