hasCJKLanguage = true
DefaultContentLanguage = "ja"


baseURL = "https://matsuuratomoya.com/"
title = "Matsuura Tomoya|松浦知也"
enableMissingTranslationPlaceholders = false
enableGitInfo = true
publishDir = "docs"
timeout = "600s"
googleAnalytics = 'G-7ZX14XX1D9'

[markup.goldmark.renderer]
unsafe = true

[markup.goldmark.extensions.passthrough]
enable = true
[markup.goldmark.extensions.passthrough.delimiters]
block = [['\[', '\]'], ['$$', '$$']]
inline = [['\(', '\)'], ['$', '$']]
[permalinks]
blog = "/:section/:year-:month-:day/:contentbasename/"
info = "/:section/:year-:month-:day/:contentbasename/"
[params]
Twitter = "tomoya_nonymous"
Facebook = "tomoya.matsuura.98"
Github = "tomoyanonymous"
Instagram = "tomoya_nonymous"
Vimeo = "tomoyamatsuura"
Soundcloud = "tomoya_matsuura"
description = "松浦知也のWebサイトです。"
math = false
images = ["assets/img/image_ogp.png"]
[[params.socials]]
name = "mastodon"
url = "https://social.matsuuratomoya.com/@tomoya"
weight = 1
[[params.socials]]
name = "twitter"
url = "https://twitter.com/tomoya_nonymous"
weight = 2
[[params.socials]]
name = "instagram"
url = "https://instagram.com/tomoya_nonymous"
weight = 3
[[params.socials]]
name = "github"
url = "https://github.com/tomoyanonymous"
weight = 4
[[params.socials]]
name = "facebook"
url = "https://facebook.com/tomoya.matsuura.98"
weight = 5
[[params.socials]]
name = "soundcloud"
url = "https://soundcloud.com/tomoya_matsuura"
weight = 6

[params.servives]
[params.services.umami_analytics]
id = 'c812ce45-5f86-434d-b94c-246110c4563b'
script_url = 'https://analytics.matsuuratomoya.com/script.js'

[[menu.main]]
name = "About"
url = "about"
weight = 1
[[menu.main]]
name = "Info"
url = "info"
weight = 2
[[menu.main]]
name = "Works"
url = "works"
weight = 3
[[menu.main]]
name = "Research"
url = "research"
weight = 4
[[menu.main]]
name = "Blog"
url = "blog"
weight = 5
[[menu.main]]
name = "Garden"
url = "https://garden.matsuuratomoya.com"
weight = 6
[[menu.main]]
name = "Teaching"
url = "https://teach.matsuuratomoya.com"
weight = 7
[[menu.main]]
name = "Contact"
url = "contact"
weight = 8

[languages]
[languages.ja]
weight = 1
languageCode = "ja"
languageName = "日本語"

[languages.en]
weight = 2
languageName = "English"
[languages.en.params]
description = "Website of Matsuura Tomoya."

[module]
proxy = 'direct'
vendorClosest = false
# uncomment line below for temporary local development of module
# replacements = "github.com/tomoyanonymous/hugo-theme-tomoya-2023 -> ../../hugo-theme-tomoya-2023"
[[module.imports]]
path = 'github.com/tomoyanonymous/hugo-micromorph'
[[module.imports]]
path = 'github.com/tomoyanonymous/hugo-theme-tomoya-2023'
[[module.imports]]
path = "github.com/hugomods/umami-analytics"

[build]
buildStats.enable = true
[[build.cachebusters]]
source = "assets/watching/hugo_stats\\.json"
target = "styles\\.css"
[[build.cachebusters]]
source = "(postcss|tailwind)\\.config\\.js"
target = "css"