{{ partial  "head.html" . }}
<body>
      {{ partial  "tagmanager.html" . }}
  <div class="outer">

    {{ partial "header.html" .}}
    <div class="inner">
        <div class="child">
<div class="content">
        <p class="title"><a href="{{.Permalink}}">{{ .Title }}</a></p>
        <div class="image">
          <a href="{{.Params.thum}}"><img src="{{.Params.thum}}" alt=""></a>
        </div>
        <div class="markdown">
        {{.Content}}</div></div>

        <p class="date">Updated on {{ .Date.Format "Mon, Jan 2, 2006" }}.</p>
        {{ partial "pagination_indiv.html" .}}
      </div>


</div>
    {{ partial "footer.html" .}}
</div>
</body>
</html>
