{{ partial  "head.html" . }}
<body>
  {{ partial  "tagmanager.html" . }}
  <div class="outer">

    {{ partial "header.html" . }}
    <div class="inner">
      <div class="child">

        <div class="content">
          <p class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
          <p class="title"><a href="{{.Permalink}}">{{ .Title }}</a></p>
          <div class="markdown">
            {{.Content}}

            {{ partial  "share.html" . }}
            {{ partial  "comment.html" . }}
            {{ partial  "pagination_indiv.html" . }}
          </div>
        </div>

      </div>

    </div>
    {{ partial "footer.html" .}}
  </div>
</body>
</html>
