<div class="pagination">

<ul>
  <li class="to_next">

    <a href="{{ if .NextInSection }}
    {{.NextInSection.Permalink }}
    {{ end }}"  {{if not .NextInSection}}class="none"{{ end }}>
        {{ if .NextInSection }}
      {{.NextInSection.Title}}
  {{ end }}
    <<

    </a>

  </li>
  <li class="to_index">

    <a href="../">^</a>

  </li>
  <li class="to_prev">

    <a href="{{ if .PrevInSection }}
     {{ .PrevInSection.Permalink }}
    {{ end }}" {{if not .PrevInSection }}class="none"{{ end }}>

    >>
    {{ if .PrevInSection }}
    {{ .PrevInSection.Title }}
    {{ end }}
    </a>
  </li>


</ul>
</div>
