<div class="tw">
  <div class="logo">
    <a href="https://twitter.com/tomoya_nonymous" target=”_blank”>
      <img src="{{relative_path path "assets/img/tw.png"}}" alt="">
    </a>
  </div>
  </div>
  <div class="fb">
    <div class="logo">
      <a href="https://www.facebook.com/tomoya.matsuura.98" target=”_blank”>
        <img src="{{relative_path path "assets/img/fb.png"}}" alt="">
      </a>
    </div>
  </div>
