
{{ partial  "head.html" . }}
  <body>
        {{ partial "tagmanager.html" . }}
    <div class="outer">

{{ partial "header.html" .}}


<div class="inner">

<div class="content">
    <div class="child">
    <h1>{{.Section|upper}}</h1>
  </div>
</div>
<div class="index_outer">
  {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
      {{range $paginator.Pages}}
    <div class="index_inner">
        <div class="child">
          <a href="{{.Permalink}}">
          <div class="content">
          <p class="date">  {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p class="title">{{ .Title }}</p>
      <div class="image"><img src="{{.Site.BaseURL}}{{.Params.thum}}" alt=""></div>
      </div>
      </a>
    </div>
</div>
    {{ end }}
      {{ partial  "pagination.html" . }}
</div>
    </div>
        {{ partial "footer.html" .}}
    </div>
  </body>
</html>
