
{{> head }}
  <body>
    {{> tagmanager }}
    <div class="outer">
{{>header}}
<div class="inner">

<div class="content">
    <div class="child">
      <div class="markdown">
    {{{rawcontents}}}
</div>

</div>
</div>
    </div>
        {{>footer}}
    </div>
  </body>
</html>
